spring:
  main:
    allow-bean-definition-overriding: true

  application:
    name: admin-service
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: ${DB_URL:}
    username: ${DB_USERNAME:}
    password: ${DB_PASSWORD:}
    hikari:
      pool-name: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
#        oracle.jdbc.timezoneAsRegion: false
  jpa:
    database: ORACLE
    show-sql: false
    properties:
      hibernate.provider_disables_autocommit: true
      hibernate.id.new_generator_mappings: true
      hibernate.connection.provider_disables_autocommit: true
      hibernate.cache.use_second_level_cache: false
      hibernate.jakarta.cache.missing_cache_strategy: create
      hibernate.cache.use_query_cache: false
      hibernate.generate_statistics: false
      hibernate.format_sql: true
      hibernate.proc.param_null_passing: true
#      hibernate.jdbc.time_zone: Asia/Ho_Chi_Minh
      hibernate.hbm2ddl.auto: none
    hibernate:
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    open-in-view: false
#  cache:
#    type: caffeine
  mail:
    default-encoding: UTF-8
    host: ${MAIL_HOST:}
    port: ${MAIL_PORT:}
    username: ${MAIL_USERNAME:}
    password: ${MAIL_PASSWORD:}
    test-connection: true
    protocol: ${MAIL_PROTOCOL:}
    properties:
      mail-sender-display-name: QLPT - Hệ thống quản lý phòng trọ
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
        test-connection: false
  mvc:
    async:
      request-timeout: -1
  kafka:
    bootstrap-servers: ${MQ_HOST:}:${MQ_PORT:}
    properties:
      security.protocol: ${MQ_SECURITY_PROTOCOL:SASL_PLAINTEXT}
      sasl.mechanism: ${MQ_SECURITY_MECHANISMS:PLAIN}
      sasl.jaas.config: ${JAAS_CONFIG:}
    consumer:
      group-id: ${MQ_GROUP_ID:admin-service}
      max-poll-records: 15
      enable-auto-commit: true
    producer:
      client-id: ${MQ_GROUP_ID:admin-service}
    listener:
      idle-between-polls: 1s
      ack-mode: record
      type: single
  web-security:
    debug: false
  data:
    redis:
      cluster:
        nodes: ${REDIS_URL:}
      password: ${REDIS_PASSWORD:}
  jackson:
    serialization:
      indent-output: false
server:
  port: 8081
  servlet:
    context-path: ${SERVER_CTX_PATH:}
  compression:
    enabled: true
    mime-types: text/html,text/xml,text/plain,text/css,application/javascript,application/json,application/xml
    min-response-size: 0
jwt:
  key-id: 'vnsky'
  key-use: 'sig'
  algorithm: 'RS512'
  rsa-private-key: ${RSA_PRIVATE_KEY:}

  rsa-public-key: ${RSA_PUBLIC_KEY:}
  clock-skew-tolerance: ${CLOCK_SKEW_TOLERANCE:60}
application:
  version: ${APP_VERSION:1.0}
  default-pass: ${DEFAULT_PASS:Abc@123456}
  password-expire-time: 90d
  vnsky-web-oAuth2-client-info:
    id: 22667948-9645-46fe-8ff3-5396fa93bf91
    client-id: vnsky-internal
    client-name: 'Web BCSS nội bộ'
    client-secret: FL2J1Y42qVwRPvJ
    api-prefix: /private
    url: ${INTERNAL_WEB_URL:}
    default-access-token-validity: 30m
    default-refresh-token-validity: 1d
    reuse-refresh-token: true
  partner-web-oAuth2-client-info:
    id: bd0c6acb-05cf-4fc9-9e98-94f5abc6f027
    client-id: vnsky-agent
    client-name: 'Web BCSS đối tác'
    client-secret: dtnJoSsBU8kzIBI
    api-prefix: /public
    url: ${PARTNER_WEB_URL:}
    default-access-token-validity: 30m
    default-refresh-token-validity: 1d
    reuse-refresh-token: true
  third-party-oAuth2-client-info:
    id: 259431de-2fc7-4fff-bacc-2674bc3d52d1
    client-id: vnsky-pro
    client-name: 'Webservice bên thứ 3'
    client-secret: HFl3835tmdfhswX
    api-prefix: /third-party
    default-access-token-validity: 1d
    default-refresh-token-validity: 1d
    reuse-refresh-token: false
  sale-app-oAuth2-client-info:
    id: 11f2da3f-b122-490a-9bf3-401fdefd5ac8
    client-id: vnsky-sale
    client-name: 'Sale Mobile App'
    client-secret: 6gJOCkFp0gLrxDB
    api-prefix: /public
    default-access-token-validity: 1d
    default-refresh-token-validity: 1d
    reuse-refresh-token: false

#  cors:
#    allowed-origin-patterns: '*'
#    allowed-headers: '*'
#    allowed-methods: '*'
#    allow-credentials: true
#    allow-private-network: true
#    expose-headers: Authorization,Link,X-Total-Count,Etag
  google-cloud-api-key: ${GOOGLE_CLOUD_API_KEY:}
  group-user-api-key: ${GROUP_USER_API_KEY:}
management:
  health:
    mail:
      enabled: false

minio:
  url: ${MINIO_URL:}
  access-key: ${MINIO_ACCESS_KEY:}
  secret-key: ${MINIO_SECRET_KEY:}
  bucket-public: ${MINIO_PUBLIC_BUCKET:}
  bucket-private: ${MINIO_PUBLIC_PRIVATE:}
  connect-timeout: ${MINIO_CONNECT_TIMEOUT:30000}
  write-timeout: ${MINIO_WRITE_TIMEOUT:60000}
  read-timeout: ${MINIO_READ_TIMEOUT:60000}
domain:
  internal:
    domain-sale: ${DOMAIN_SALE}
logging:
  level:
    org.springframework.transaction: TRACE
    org.springframework.jdbc.datasource.DataSourceTransactionManager: DEBUG
    org.springframework.jdbc.core: DEBUG   # xem SQL nếu dùng JdbcTemplate
    org.hibernate.SQL: DEBUG              # nếu đi qua JPA/Hibernate