<!doctype html>
<html lang="vi">

<head>
    <title></title>
    <meta charset="UTF-8">
</head>

<body>
<div class="body">
    <div class="body-1">
        <h4><i>Xin chào,</i></h4>

        <p>Chúng tôi nhận được yêu cầu đặt lại mật khẩu cho tài khoản <span th:text="${email}"></span> trên VNSKY. Hãy bấm vào đường dẫn bên dưới
            (hoặc cắt - dán vào trình duyệt) để thay đổi mật khẩu.</p>

        <p>Đường dẫn này có hiệu lực trong vòng <span th:text="${expireTime}"></span>.</p>

        <a th:href="@{${url}}" th:text="${url}"></a>

        <p>Cảm ơn bạn và chúc bạn một ngày tốt lành!</p>

        <h4><i th:text="${companyName}"></i></h4>
    </div>
</div>
</body>
</html>
